@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #D4EBF8;
}

.main {
  width: 53vw;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #0A3981;
}

.input {
  border: aqua 2px solid;
  height: 40px;
  border-radius: 25px;
  width: 35vw;
  padding-left: 1cm;
  margin: 5px;
  margin-left: 19px;
}

.mainbtn {
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  margin: 15px 15vw;
  height: 35px;
  background-color: #E38E49;
  width: 3cm;
}

li {
  padding: 23px;
}

a li {
  color: aliceblue;
  list-style: none;
}

.red {
  background-color: red;
  color: white;
}

.justify-around {
  padding: 10px;
}
.country {
  margin-left: 15px;
  border-radius: 10px;
}



/* For dob css */
.form {
    display: "flex";
    flex-direction: column;
    align-items: center;
    gap: "10px";
    margin: "20px";
  }
.label {
  font-size: "18px";
}
.dob-input {
  padding: "8px";
  font-size: "16px";
  margin-left: 15px;
  border-radius: 10px;
}

.button {
  padding: "8px 16px";
  font-size: "16px";
  cursor: "pointer";
  background-color: "red";
  color: "white";
  border: "none";
  border-radius: "4px";
} 

.a{
  gap: 20px;
}

.hide{
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: #0A3981;
}